<?xml version="1.0"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
	</startup>
	<appSettings>
		<add key="BaseDirectory" value="C:\Workspace\MobileUpdater\MAUFiles"></add>
		<!-- upcs for the store 10708 -->
		<add key="Upc" value="10708"/>
		<!-- upcs not null for the store 10708 -->
		<add key="Upc_not_null" value="10708"/>
		<!-- altupc for the store 10708 -->
		<add key="altupc" value="10708"/>
		<!-- In_Stock and Price > 0 for the store 10826 , 11445  ON 06/07/2022-->
		<add key="In_Stocks" value="10826;11445"/>
		<!-- Beer Deposit for the store 11445 ON 07/06/2022-->
		<add key="BeerDeposit" value="11445"/>
		<add key ="FlatFile" value ="11196;11063"/>
		<!-- 8% Discount on price and price values assign to saleprice for the store 10708 ON 13/10/2022-->
		<add key ="Discount_SalePrice" value="10708"/>
		<!--Price values consider from PriceA column for Store 10350>-->
		<add key ="PriceFromPriceA" value="10350"/>
		<!--Out of stock products also included-->
		<add  key="IrrespectiveOfStock" value="11919"/>
		<add  key="DifferentResponce" value="12105;12176;12167;12188;12169;12231;11955;12398;11004;12106;10708;10707;12339;12341;12351;10826;12378;12340;12342;12343;12344;12485"/>
		<!--<add key="LiquorAppsConnectionString" value="Data Source=PK-LAPTOP;Initial Catalog=liquorapps;Integrated Security = True;MultipleActiveResultSets=True"/>-->
		
		<add key="LiquorAppsConnectionString" value="Data Source=bottlecappsdb.cslxuchadxwc.us-east-1.rds.amazonaws.com;Initial Catalog=liquorapps;User ID=webuser;Password=QCG8nP{kkWebU$er;MultipleActiveResultSets=True"/>

		<add key="DeveloperId" value="farooq@bottlecapps" />
	</appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.net>
		<mailSettings>
			<smtp from="no-reply@bottlecapps.com">
				<network host="email-smtp.us-east-1.amazonaws.com" port="587" userName="AKIAQBWLIRVIDP4TCQ2C" password="BOWByfOnl3mQDlGgwAR9H3a9HRfwCtFATkvKPrT+DCba" enableSsl="true" />
			</smtp>
		</mailSettings>
	</system.net>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
			</providers>
		</roleManager>
	</system.web>

</configuration>
